<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">

  <meta name="author" content="Themefisher.com">

  <title>All our products</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="app/assets/images/favicon.png" />

  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/font-awesome.css">

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/settings.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/layers.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/navigation.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="app/assets/stylesheets/main_style.css">

</head>

<body id="body">

<section class="products section">
  <div class="container">
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-sm-4">
          <div class="product-item">
            <div class="product-thumb">
              <%=image_tag(p.image) %>
              <div class="preview-meta">
                <ul>
                  <li>
                    <span  data-toggle="modal" data-target="#product-modal">
                      <i class="tf-ion-ios-search-strong"></i>
                    </span>
                  </li>
                  <li>
                    <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="tf-ion-android-cart"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h4><a href=""><%=p.name %></a></h4>
              <p class="price"><%=p.price %></p>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Modal -->
      <div class="modal product-modal fade" id="product-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img class="img-responsive" src="images/shop/products/modal-product.jpg" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                    <p class="product-price">$200</p>
                    <p class="product-short-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
                    </p>
                    <a href="cart.html" class="btn btn-main">Add To Cart</a>
                    <a href="product-single.html" class="btn btn-transparent">View Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

    </div>
  </div>
</section>




<footer class="footer section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media">
          <li>
            <a href="">
              <i class="tf-ion-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="tf-ion-social-instagram"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="tf-ion-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="tf-ion-social-pinterest"></i>
            </a>
          </li>
        </ul>
        <ul class="footer-menu">
          <li>
            <a href="">CONTACT</a>
          </li>
          <li>
            <a href="">SHIPPING</a>
          </li>
          <li>
            <a href="">TERMS OF SERVICE</a>
          </li>
          <li>
            <a href="">PRIVACY POLICY</a>
          </li>
        </ul>
        <p class="copyright-text">Powered by Bootstrap</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
