<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description">

  <meta name="author">

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="app/assets/images/favicon.png" />

  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/font-awesome.css">

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/settings.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/layers.css">
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/navigation.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="app/assets/stylesheets/main_style.css">
  <title></title>

</head>

<body id="body">
<!-- Start Top Header Bar -->
<section class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-4">
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">
        <!-- Site Logo -->
        <div class="logo text-center">
          <a href="app/views/pages/home.html.erb">
            <!-- replace logo here -->
            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40" font-family="AustinBold, Austin" font-weight="bold">
                <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                  <text id="AVIATO">
                    <tspan x="108.94" y="325">EQUIS</tspan>
                  </text>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">

        </ul><!-- / .nav .navbar-nav .navbar-right -->
      </div>
    </div>

  </div>
</section>
</body>
</html>
